<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>About</title>
    <div id="container">
      <h1>Alvaro Castagnet</h1>
      <p>
        Uruguayan painter Alvaro Castagnet was born in Montevideo, in the
        beautiful South American country of Uruguay. His early interest in art
        was cultivated mainly by his father, who sent him to the National School
        of Art in Montevideo at a very young age where he was taught by
        Professor Esteban Garino. Castagnet carried on his formal education in
        art at the Fine Arts University, where Miguel Angel Pareja was his oil
        painting tutor. Castagnet migrated to Australia in 1983, and lived there
        enjoying the cosmopolitan and forward-looking attitude of that country
        for 20 years.
      </p>
      <div class="links">
        <a href="/home">Home</a>
      </div>
    </div>
  </head>
  <body></body>
</html>
