<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap"
      rel="stylesheet"
    />
    <title>About</title>
  </head>

  <body>
    <div id="container">
      <nav id="nav-bar">
        <a href="/home">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/artwork">ARTWORK</a>
      </nav>

      <section id="content">
        <h1>ABOUT</h1>
        <h3>
          Alvaro Castagnet was born in Montevideo, in the beautiful South
          American country of Uruguay. His early interest in art was cultivated
          mainly by his father, who sent him to the National School of Art in
          Montevideo at a very young age where he was taught by Professor
          Esteban Garino. Castagnet carried on his formal education in art at
          the Fine Arts University, where Miguel Angel Pareja was his oil
          painting tutor.
          <br />
          <br />
          Castagnet migrated to Australia in 1983, and lived there enjoying the
          cosmopolitan and forward-looking attitude of that country for 20
          years. Alvaro Castagnet is fluent in Spanish, Italian, and English and
          currently lives in Montevideo, Uruguay. Castagnet has been holding
          solo exhibitions since 1985, and has been recognised with dozens of
          awards over the last 30 years.
          <br />
          <br />
          He is the author of the out-of-print, “Watercolor Painting with
          Passion” , “Painting with Passion – Beyond Technique” & “Watercolour
          Masterclass” books. Alvaro is featured in innumerable art books,
          videos, DVDs and acclaimed international art publications.His main
          studio is located in Montevideo, Uruguay. He lives with his wife, Ana
          Maria. Their 2 sons, live in Melbourne, Australia. Gaston is a Graphic
          Designer, lettering and sign painter artist and Calvin studies
          business at University. They all love soccer and traveling the world.
        </h3>

      </section>
      <footer>
        <img class="signature" src="/images/alvaro-castagnet-signature.png" alt="Alvaro Castagnet signature">
      </footer>
    </div>
  </body>
</html>
