<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Home</title>
    <div id="container">
      <nav id="nav-bar">
        <a href="/about">About</a>
        <a href="/works">Artwork</a>
      </nav>

      <section id="content">
        <h1>Alvaro Castagnet</h1>
        <h3>Welcome to Alvaro Castagnet's Gallery</h3>
        <figure>
          <img
            width="500"
            src="/images/alvaro-castagnet.jpg"
            alt="Alvaro Castagnet"
          />
        </figure>
      </section>

      <footer>
        <p>Alvaro Castagnet 2022</p>
      </footer>

  </head>
  <body></body>
</html>
