<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>

  <body>
    <div id="container">
      <nav id="nav-bar">
        <a href="/home">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/artwork">ARTWORK</a>
      </nav>

      <section id="content">
        <h1>ALVARO CASTAGNET</h1>
        <h2>Welcome to Alvaro Castagnet's Gallery</h2>
        <figure>
          <img
            class="profile-img"
            src="/images/alvaro-castagnet.jpg"
            alt="Alvaro Castagnet"
          />
        </figure>
      </section>
      <footer>
        <img class="signature" src="/images/alvaro-castagnet-signature.png" alt="Alvaro Castagnet signature">
      </footer>
    </div>
    
  </body>
</html>
